<!doctype html>
<html lang="en">
<head th:replace="base :: common_header(~{::title})">
    <title>List of Books</title>
</head>
<body>
<div class="container">
    <nav th:replace="base :: navbar"></nav>
    <h2>List of books</h2>
    <div th:each="book : ${books}" class="row">
        <div class="col-sm-4" th:text="${book.title}">
            Placeholder book
        </div>
        <div class="col-sm-4">
            <a th:href="@{delete/{bookId}(bookId=${book.id})}">
                <i class="fas fa-trash"></i>
            </a>
            <a th:href="@{edit-form/{bookId}(bookId=${book.id})}">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>



    <div style="margin-top: 30px">
        <a class="btn btn-primary" href="/books/add">Add a Book</a>
    </div>
</div>
</body>