<h3>Add new task</h3>
<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
  <label for="title">Title :
    <input type="text" id="title"
      [(ngModel)]="task.title" name="title" required />
  </label><br />
  <label for="description"> Description :
    <input type="text" id="description"
      [(ngModel)]="task.description" name="description" required />
  </label>
  <br/>
  <button type="submit">Save</button>
</form>
